body {
  margin: 0px;
  font-family: segoe ui;
}
.main_header {
  background-color: #424242;
}
.main_navbar a {
  display: inline-block;
  padding: 20px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.main_navbar ul li a:hover {
  color: #52b6fd;
}
.main_navbar ul li {
  display: inline-block;
  list-style-type: none;
}
